*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    /* font-size: 20px; */
    /* font-weight: 700; */
    padding: 15px 33px;
    border: none;
    }
.description-style {
    color: rgba(39, 39, 39, 0.60);
    /* font-size: 16px; */
    font-weight: 400;
    line-height: 25px;
    margin: 24px 0;
    }
.common-title{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}
.section-content {
    width: 70%;
    margin: 100px auto;
    text-align: center;
    }
.articale-style{
    display: flex;
    justify-content: space-between;
    }
.red-word{
    color: #E55473;
    }

/* Header Section Style */
.banner-section{
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 30px 30px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
.banner-content {
    width: 45%;
    }
.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    }
.banner-img {
    width: 55%;
    text-align: right;
    }
.banner-img > img{
    height: 550px;
    margin-bottom: -34px;
    }

/* Featured-section Style */
    /* 1st Section  */
.pink-article-img {
    width: 200px;
    height: 250px;
    padding: 40px 30px 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    }
.pink-article-p{
    color: #272727;
    text-align: center;
    /* font-size: 24px; */
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    }
#bg-paste-color{
    background: rgba(5, 151, 160, 0.15);
    }
#bg-lightgreen-color{
    background: rgba(71, 125, 17, 0.15);
    }
.feature-support {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 30px;
    margin: 100px 0;
    }
.feature-support-img{
    width: 60px;
    }
/* Hot Deal section */
.hot-deal {
    text-align: center;
    padding:0 180px;
    }
/* Instagram Section */
.instagram-img{
    width: 24%;
    }
/* Latest Deals Section */
#latest-deals{
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 60px 0;
    }
#latest-deals > input{
    width: 40%;
    color: rgba(39, 39, 39, 0.60);
    padding: 15px 33px;
    border: none;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    margin-right: 10px;
    }
/* Footer section */
#footer-content {
    background-color: #111010;
    text-align: center;
    padding: 100px 0;
    }
#footer-title {
    color: #FFF;
    font-size: 30px;
    font-weight: 800;
    }
#footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
    }
#footer-rights{
    color: rgba(255, 255, 255, 0.40);
    font-weight: 400;
    }

